
@{
    var currentSection = Context.Request.Query["section"].ToString();
}

<div class="sidebar">
    <div class="logo-details">
        <img src="~/Images/Logo/logo.png" alt="Mocka Bear logo" class="Logo-image"/>
        <span class="logo_name">Mocka Bear</span>
    </div>
    <ul class="nav-links first-section">
        <li>
            <a href="/admin/product/products" class="@(ViewContext.RouteData.Values["controller"].ToString() == "products" ? "active" : "")">
                <i class='bx bxs-coffee-bean'></i>
                <span class="link_name">Products</span>

            </a>
        </li>

        <li>
            <a href="/admin/client/clients" class="@(ViewContext.RouteData.Values["controller"].ToString() == "clients" ? "active" : "")">
                <i class="fa-solid fa-user"></i>
                <span class="link_name">Clients</span>

            </a>
        </li>

        <li>
            <a href="/admin/category/categories" class="@(ViewContext.RouteData.Values["controller"].ToString() == "categories" ? "active" : "")">

                <i class='bx bxs-category'></i>
                <span class="link_name">Category</span>

            </a>
        </li>

        <li>
            <a href="/admin/orders/orders"
               class="@(ViewContext.RouteData.Values["controller"].ToString().ToLower() == "orders" ? "active" : "")">
                <i class='bx bxs-receipt'></i>
                <span class="link_name">Orders</span>

            </a>
        </li>

        <li>
            <a href="/admin/review/reviews" class="@(ViewContext.RouteData.Values["controller"].ToString() == "reviews" ? "active" : "")">
                <i class='bx bxs-star'></i>
                <span class="link_name">Review</span>

            </a>
        </li>

        <li>
            <a href="/admin/administrator/administrators" class="@(ViewContext.RouteData.Values["controller"].ToString() == "ingredient" ? "active" : "")">
                <i class="fa-solid fa-user-tie"></i>
                <span class="link_name">Admin</span>

            </a>
        </li>
    </ul>
        <ul class="nav-links logout-link">
            <li class="nav-links logout-link">
            <a href="/Account/Logout">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="link_name">Log out</span>
                

                </a>
            </li>
        </ul>
    
</div>
